.layout_front {
    position: relative;
    min-height: 100vh;
}

/* Background de base avec opacité réduite */
.layout_front::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;

    background: url("https://i.redd.it/iyaacpwpwfr41.png");
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    background-attachment: fixed;

    opacity: 0.4;
}
.section_a,
.section_b {
    padding-block: 4rem;
    padding-inline: 10vw;
}
.section_b {
    background-color: var(--valo-tertiary);
}

.section_a h2,
.section_b h2 {
    color: white;
}

.titre_home {
    font-size: 50pt;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 35px;
    padding-bottom: 25px;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
        1px 1px 0 #fff;
}
