.navbar {
    width: inherit;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
}

footer {
    padding-block: 50px;
}

.players .card {
    transition: all 0.2s ease-out;
}

.players .card:hover {
    scale: 1.06;
    filter: brightness(1.1) saturate(1.2);
}
