.team{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}
/* .team h2{
    text-align: center;
    padding-block: 25px;
    font-size: 50pt;
    color: #ff4454;
    text-shadow: 
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
} */
.team h2{
    text-align: center;
    padding-block: 25px;
    font-size: 50pt;
    color: #ffffff;
    text-shadow: 
        -1px -1px 0 #ff4454,
        1px -1px 0 #ff4454,
        -1px 1px 0 #ff4454,
        1px 1px 0 #ff4454;
}

.team_player{
    padding: 30px;
    display: flex;
    justify-content: space-around;
}

.team_player img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: #ff4454 3px solid;
    box-shadow: 
        0 0 0 7px rgb(0, 0, 0),
        0 0 0 10px #ff4454;
    left: 10px;
    object-fit: cover;
}

.team_player h3{
    border: #ff4454 3px solid;
    box-shadow: 
        0 0 0 7px rgb(0, 0, 0),
        0 0 0 10px #ff4454;
    width: 300px;
    text-align: center;
    padding-block: 20px;
    top: -75px;
    position: relative;
    background-color: black;
}

.player_info{
    
    /* background-color:  rgba(0, 0, 0, 0.7); */
    background: linear-gradient(90deg, #00000000, #000, #00000000);
    grid-row: 1;
    width: 700px;
    height: 250px;
    padding: 20px;
    text-align: center;
    top: 30px;
    position: relative;
}
.player_info p{
    font-size: 14pt;
    letter-spacing: 120%;
}





.team_one{
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding-inline: 30px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    padding-block: 40px;
}

.team_one h2{
    text-align: center;
    padding-block: 25px;
    font-size: 50pt;
    color: #ffffff;
    text-shadow: 
        -1px -1px 0 #ff4454,
        1px -1px 0 #ff4454,
        -1px 1px 0 #ff4454,
        1px 1px 0 #ff4454;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;    
}
.team_one h4{
    align-content: center;
}
.team_player_one{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-block: 20px;
    width: 33%;
}

.team_img_one{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.spane{
    font-size: 20pt;
    color: #ffffff;
    text-shadow: 
        -1px -1px 0 #ff4454,
        1px -1px 0 #ff4454,
        -1px 1px 0 #ff4454,
        1px 1px 0 #ff4454;
}
.spanee{
    font-size: 20pt;
    color: #000000;
    text-shadow: 
        -1px -1px 0 #ff4454,
        1px -1px 0 #ff4454,
        -1px 1px 0 #ff4454,
        1px 1px 0 #ff4454;
}
.team_img_one img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;    
}
.player_info_one{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.team_one p{
    align-content: center;    
}
.team_one>h4{
    width: 100%;
    text-align: center;
    font-size: 20pt;
    font-family: 'Electrolize', sans-serif;
    color: #000;
    text-shadow: 
        -1px -1px 0 #ff4454,
        1px -1px 0 #ff4454,
        -1px 1px 0 #ff4454,
        1px 1px 0 #ff4454;
}
.div_team_titre{
    display: flex;
    justify-content: space-between;
    width: 70%;
    position: absolute;
    top: 25%;

}
.team_conti{
    color: #ffffff;
    font-size: 18pt;
    text-shadow: 
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    padding-bottom: 40px;
}

.div_team_img{
    top: 0;
    right: -40%;
    position: relative; 
    overflow: hidden;
    border-radius: 50%;
    width: 225px;
    height: 225px;
}
.div_team_img>img{
    height: 100%;
}
.div_team_players{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.div_count{
    display: flex;
    position: relative;
    left: 80%;
}
